@model NortwindExample.MvcWebUI.ProductViewModel



@{
    Layout = "../Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<div>
    @foreach (var product in Model.Products)
    {
        <div class="item">
            <h3> @product.ProductName</h3>
            <h3> @product.UnitPrice</h3>
        </div>

        using(Html.BeginForm("AddToCart","Cart"))
                {
                    @Html.Hidden("productId",product.ProductID)
                    <input type="submit" value="Add To Cart" />
                }

        <br />

    }
    <div class="pager">
        @Html.Pager(Model.PagingInfo)
    </div>
</div>
